/**
* Anax Flat theme.
*/
@import url(modules.less);

/**
* Body
*/

body {
  background-color: khaki;
}

/**
* Header
*/


.site-header {
  height: 80px;
}

.site-logo-text,
.profile {
  float:left;
  width: 25%;
}

.navbar2 {
  float:left;
  width: 40%;

}


.site-logo-text {
  font-size: 2em;

  a {
    text-decoration: none;
    color: #222;
  }
}

// navbar-main

.rm-desktop li {
  // background-color: #eee;
  a:hover {
    text-decoration: none;
  }
}

@navbarItemBgColor: #eee;
@navbarItemHoverBgColor: #ddd;
// @navbarItemSelectedBgColor: green;

li.selected-parent a,
li.selected a {
  background-color: #c5c5f3;
}


.rm-max .rm-small .rm-button {
      // font-size: 2em;
}

.rm-mobile li.selected a {
  color: #000;
}

.toc li.selected a {
  background-color: inherit;
}

@maxButtonFontSize: 2em;



/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

img {
    max-width: 100%;
}

/** --------------------------------------------------------------
 *  Logo images
 */

.article img {
  border: 3px solid #fff;
  outline: px solid #222;
}


/**
* Responsive design
*/

@media screen and (max-width: 900px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        width: 50%;
    }

    .profile {
        width: 10%;
    }
}

@media screen and (max-width: 750px) {
    .sidebar {
        display:none;
    }
}

@media screen and (max-width: 700px) {
    .footer-column {
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .site-logo-text {
        width: 90%;
    }

    .navbar2 {
        display:none;
    }
}
